@use "./variables" as *;
@use "./mixins" as *;

%section {
  min-height: calc(100vh - 7rem);
  padding: 2.4rem 0;
  & > .title {
    max-width: $width-lg;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2.4rem;
  }

  // MEDIA-QUERIES
  @include display(tab-port) {
    padding: 2rem 0;
    // min-height: auto;
    & > .title {
      max-width: $width-md;
      padding-bottom: 2rem;
    }
  }
  @include display(phone) {
    padding: 1rem 0;
    & > .title {
      max-width: $width-sm;
      padding-bottom: 1rem;
    }
  }
}

%container {
  max-width: $width-lg;
  margin: 0 auto;

  // MEDIA-QUERIES
  @include display(tab-port) {
    max-width: $width-md;
  }
  @include display(phone) {
    max-width: $width-sm;
  }
}

%shadow {
  // box
  // drop
}
