/* === COLORS === */
$color-background: hsl(343, 100%, 86%);
$color-background-variant: rgba(hsl(343, 100%, 86%), 0.5);

$color-primary: #d11541;
$color-primary-variant: hsl(42, 100%, 49%);

$color-mocha: hsl(35, 71%, 79%);
$color-greentea: hsl(86, 56%, 74%);
$color-white: #fff;
$color-light: #fafafa;
$color-light-variant: rgba(43, 43, 43, 0.6);
$color-grey: #919191;
$color-black: #1f1f1fe1;
$theme-colors: (
  "original": $color-background,
  "nature": $color-greentea,
  "coffee": $color-mocha,
);

/* === FONTS === */
// @import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");
$font-weights: (
  "thin": 100,
  "light": 300,
  "regular": 400,
  "black": 900,
);
$font-primary: "Londrina Solid", cursive;

/* === CONTAINERS === */
$width-lg: 75%;
$width-md: 86%;
$width-sm: 90%;

/* === TRANSITIONS === */
$transition: 0.3s all ease;
