@use "../abstracts/" as *;

main {
  margin: 0 auto;
  display: grid;
  gap: 2.4rem;

  padding-top: 7rem; // nav height

  // MEDIA-QUERIES
  @include display(tab-port) {
    gap: 2rem;
  }
  @include display(phone) {
    gap: 1rem;
  }
}

section {
  @extend %section;

  // MEDIA-QUERIES
  @include display(tab-port) {
  }
  @include display(phone) {
  }
}

section .container {
  @extend %container;
}
