@use "../abstracts/" as *;

.nav {
  height: 7rem;
  background-color: rgba($color-white, 0.8);
  backdrop-filter: blur(15px);
  position: fixed;
  width: 100%;
  z-index: 5;

  &__container {
    @extend %container;
    // border: 1px solid #000;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;
    // justify-content: space-between;
  }
  &__hamburger-icon {
    display: none;

    // background: transparent;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    // cursor: pointer;
    // color: $color-black;
    // .component {
    //   font-size: 20px;
    //   transform: scale(1.4);
    // }
  }

  &__logo {
    display: flex;
    align-items: center;
    // border: 1px solid #000;
  }
  &__list {
    display: flex;
    gap: 1rem;
  }
  &__cart {
    flex-grow: 1;
    text-align: end;
    transform: translateX(-11px);
    a {
      cursor: pointer;
      transform: scale(1.5);
    }
  }
  // MEDIA-QUERIES
  @include display(tab-land) {
  }
  @include display(tab-port) {
  }
  @include display(phone) {
  }
}
