@use "../abstracts/" as *;

.nav {
  height: 7rem;
  background-color: rgba($color-light, 0.8);
  backdrop-filter: blur(11px);
  position: fixed;
  width: 100%;
  z-index: 5;
  &__container {
    @extend %container;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  &__hamburger-icon {
    display: none;

    // background: transparent;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    // cursor: pointer;
    // color: $color-black;
    // .component {
    //   font-size: 20px;
    //   transform: scale(1.4);
    // }
  }

  &__logo {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    gap: 1.8rem;
  }
  &__cart {
    flex-grow: 1;
    text-align: end;
    transform: translateX(-11px);
    a {
      cursor: pointer;
      transform: scale(1.5);
    }
  }

  // MEDIA-QUERIES
  @include display(phone) {
    &__logo {
      display: none;
    }
  }
}
