@use "../abstracts/" as *;

.cart {
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 40%,
    darken($color-light, 5%) 60%
  );
  &__container {
    display: grid;
    grid-template-columns: 68% 28%;
    align-items: start;
    gap: 4%;
  }
  &__details {
    // border: 1px solid #000;
    display: grid;
    gap: 4rem;
    color: $color-black;
    &-header {
      // border: 1px solid #000;
      display: grid;
      grid-template-columns: 14% 18% 32% 10% 6% 15% 5%;
      color: $color-grey;
      justify-items: center;
    }
    &-item {
      // border: 1px solid #000;
      display: grid;
      grid-template-columns: 14% 18% 32% 10% 6% 15% 5%;
      position: relative;

      // gap: 1%;
      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // border: 1px solid #000;
      }
      .delete {
        font-size: 2.4rem;
        color: $color-black;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: calc(50% - 2.4rem / 2 - 0.7rem);
      }
    }
  }
  &__payments {
    // background-color: $color-background-variant;
    border: 5px dashed $color-light-variant;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 5.7rem 2.4rem;
    text-align: center;
    color: $color-black;

    h2 {
      color: $color-primary-variant;
    }
    button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      .icon {
        min-width: max-content;
      }
    }
  }

  // MEDIA-QUERIES
  @include display(tab-land) {
    &__details {
      &-header {
        // border: 1px solid #000;
        grid-template-columns: repeat(5, 1fr);
        .header-topping,
        .header-price {
          display: none;
        }
      }
      &-item {
        // border: 1px solid #000;

        grid-template-columns: repeat(5, 1fr);
        .item-topping,
        .item-price {
          display: none;
          border: 1px solid #000;
        }
      }
    }
  }
  @include display(phone) {
    background: transparent;
    &__container {
      grid-template-columns: 1fr;
      gap: 4rem;
    }
  }
}
