@use "../abstracts/" as *;

.home {
  &__container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  @each $color, $value in $theme-colors {
    .home__product--#{$color} {
      @include product-scheme($value);
    }
  }

  // MEDIA-QUERIES
  @include display(tab-land) {
    &__container {
      grid-template-columns: 1fr 1fr;
      padding: 0;
    }
  }
  @include display(phone) {
    &__container {
      grid-template-columns: 1fr;
    }
  }
}
