@use "../abstracts/" as *;

.product {
  height: 100%;
  background: linear-gradient(
    90deg,
    darken($color-light, 5%) 40%,
    transparent 50%
  );
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__showcase {
    display: grid;
    justify-items: start;
    align-items: center;
    & > * {
      transform: translateX(-40px);
    }
  }
  &__details {
    padding: 0 8.4rem;
    color: $color-black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-price {
      color: $color-primary-variant;
    }
    &-description {
      font-style: italic;
      color: $color-grey;
    }
    &-name {
      color: $color-primary;
    }
    &-size {
      display: grid;
      gap: 1.7rem;
      .size-list {
        display: flex;
        gap: 7rem;
        & > *:nth-child(1) {
          .size-icon {
            font-size: 3rem;
            cursor: pointer;
          }
        }
        & > *:nth-child(2) {
          .size-icon {
            font-size: 3.9rem;
            cursor: pointer;
          }
        }
        & > *:nth-child(3) {
          .size-icon {
            font-size: 4.8rem;
            cursor: pointer;
          }
        }
      }
    }
    &-toppings {
      display: grid;
      gap: 0.7rem;
      p {
      }
      form {
        display: flex;
        gap: 2.2rem;
        input {
          margin-right: 0.6rem;
        }
      }
    }
    &-quantity {
      display: grid;
      gap: 0.7rem;
      form {
        input.qty {
          padding: 1.5rem;
          max-width: 20rem;
          background-color: darken($color-light, 3%);
          &::placeholder {
            color: lightgray;
          }
        }
      }
    }
  }

  // MEDIA-QUERIES
  @include display(tab-land) {
    &__details {
      padding: 0 2.4rem;
    }
  }
  @include display(phone) {
    background: linear-gradient(
      180deg,
      darken($color-light, 5%) 25%,
      transparent 50%
    );
    &__container {
      grid-template-columns: 1fr;
      gap: 2.4rem;
    }
    &__showcase {
      min-height: calc(100vh - 16rem);
      & > * {
        transform: translateX(0);
      }
    }

    &__details {
      padding: 0;
      align-items: center;
      &-description {
        text-align: center;
      }
      &-size {
        p {
          text-align: center;
        }
        .size-list {
          gap: 4rem;
          & > *:nth-child(1),
          *:nth-child(2),
          *:nth-child(3) {
            .size-icon {
              font-size: 3rem;
              cursor: pointer;
            }
          }
        }
      }
      &-toppings {
        form {
          display: flex;
          flex-direction: column;
          gap: 1.2rem;
        }
      }
      &-quantity {
        p {
          display: none;
        }
      }
    }
  }
}
